:root {
  --bg-color: 255 255 255;
  --text-color: 74 74 74;
  --scrollbar-color: 208 208 208;
}

.dark:root {
  --bg-color: 21 21 21;
  --text-color: 177 177 177;
  --scrollbar-color: 58 58 58;
}

body {
  @apply antialiased font-sans text-foreground bg-background;
}